#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen { zmk,physical-layout = &gggw_crosses_36_layout; };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    /omit-if-no-ref/ zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <2000>;
        excluded-positions = <8 15 16 17 18>;
    };
};
    };

    combos {
        compatible = "zmk,combos";

        combo_mods {
            bindings = <&mo 5>;
            key-positions = <30 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            display-name = "Colemak";
            bindings = <
&as LS(Q) Q  &as LS(W) W  &as LS(F) F  &as LS(P) P  &as LS(B) B    &as LS(J) J  &as LS(L) L  &as LS(U) U          &as LS(Y) Y            &as LS(SEMICOLON) SEMICOLON
&as LS(A) A  &as LS(R) R  &as LS(S) S  &as LS(T) T  &as LS(G) G    &as LS(M) M  &as LS(N) N  &as LS(E) E          &as LS(I) I            &as LS(O) O
&as LS(X) X  &as LS(C) C  &as LS(D) D  &as LS(V) V  &as LS(Z) Z    &as LS(K) K  &as LS(H) H  &as LS(COMMA) COMMA  &as LS(PERIOD) PERIOD  &as LS(SLASH) SLASH
                          &mo 2        &kp SPACE    &kp BACKSPACE  &kp TAB      &kp RET      &mo 3
            >;
        };

        qwerty {
            display-name = "Qwerty";
            bindings = <
&kp Q  &kp W  &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A  &kp S  &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH
              &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        nav_layer {
            display-name = "Mouse+Nav";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &kp HOME  &kp UP    &kp END    &kp PAGE_UP
&tog 1        &mkp RCLK     &mkp MCLK     &mkp LCLK     &trans        &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN
&trans        &trans        &trans        &trans        &trans        &trans  &trans    &trans    &trans     &trans
                            &trans        &trans        &trans        &trans  &trans    &trans
            >;
        };

        punctuation_and_numbers {
            display-name = "Punc+Nums";
            bindings = <
&trans    &trans                          &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(UNDER)  &kp ASTRK               &kp N7  &kp N8  &kp N9  &as KP_EQUAL PLUS
&trans    &as DOUBLE_QUOTES SINGLE_QUOTE  &kp LS(LPAR)  &kp LS(RPAR)  &kp EQUAL      &kp DOT                 &kp N4  &kp N5  &kp N6  &kp N0
&kp CAPS  &as GRAVE TILDE                 &kp LBKT      &kp RBKT      &kp BSLH       &as BACKSLASH KP_SLASH  &kp N1  &kp N2  &kp N3  &as UNDER MINUS
                                          &kp ESC       &kp SPACE     &trans         &kp TAB                 &mo 4   &trans
            >;
        };

        fn_keys {
            display-name = "fn_keys";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod_keys {
            display-name = "modifiers";
            bindings = <
&trans    &trans    &trans     &trans      &trans     &trans     &trans      &trans     &trans    &trans
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &kp K_APP  &kp K_APP  &kp RSHIFT  &kp RCTRL  &kp RALT  &kp RGUI
&trans    &trans    &trans     &trans      &trans     &trans     &trans      &trans     &trans    &trans
                    &trans     &trans      &trans     &trans     &trans      &trans
            >;
        };

        dyn_mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &msc SCRL_UP    &trans
&trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &msc SCRL_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans          &trans
                &trans  &trans  &trans  &trans     &trans     &trans
            >;
        };
    };
};
